apiVersion: v1
kind: Service
metadata:
  name: driver-svc
  labels:
    app: driver
spec:
  type: NodePort
  selector:
    app: driver
  ports:
    - port: 8081
      targetPort: 8081
      nodePort: 30081
      protocol: TCP
